<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>

        <div class="container">
            <h1 class="text-center">Hospital
    
        </h1>

        <div class="container table">
            <a th:href="@{/paciente}" class="btn btn-primary">Pacientes</a>
            </div>

        <div class="container table">
            <a th:href="@{/medico}" class="btn btn-primary">Medicos</a>
            </div>

        <div class="container table">
            <a th:href="@{/procedimento}" class="btn btn-primary">Procedimentos Medicos</a>
            </div>

        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>